{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="blog-item">
  <div class="blog-thumb set-bg" data-setbg="{{ fields.field_product_image_1.content|trim|striptags }}">
    <div class="post-date-warp">
      <div class="container">
        <div class="post-date-box">
          <h3>{{ fields.created.content|trim|striptags }}</h3>
          <p>{{ fields.created_1.content|trim|striptags }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <h3 class="blog-title">{{ fields.title.content|render|trim|striptags }}</h3>
    <div class="post-metas">
      <div class="post-meta"><a href="product-detail/{{ fields.field_product_id.content|trim|striptags }}">View Detail</a></div>|
      <div class="post-meta">{{ fields.product-type.content|render|trim|striptags }}</div>|
      <div class="post-meta"><a href="/">Home</a></div>
    </div>
    <p>{{ fields.body.content }}</p>
  </div>
</div>