
<section class="location-map grey-dark-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 map-gp">
              <div class="card-location container-xs">
                <h2>locations</h2>
                <div class="body">
                    <div class="card card-map white-dark-bg">
                      <iframe frameborder="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q={{ address_1 }}&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                      {{ first_office }}
                    </div>
                    <div class="card card-map white-dark-bg">
                    <iframe frameborder="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q={{ address_2 }}&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    {{ second_office }}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
{{ ds_content.field_opportunity_eck_reference }}




